:root{
  --primary-color:#dbe4ff;
  --accent-color:#5f3dc4;
  --text-color:#495057;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight:400;
    color:var(--text-color);
background-color:#fff;
}

.btn{
      background-color:var(--accent-color);
      color:#f2f2f2;
      font-size: 2.5rem;
      border-radius: 10px;
   
}