:root{
  --primary-color:#edf2ff;
  --accent-color:#5f3dc4;
  --text-color:#495057;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight:400;
    color:var(--text-color);
    background-color:#fff;
}

h1{
    font-size:2.5rem
}

.btn{
      background-color:var(--accent-color);
      color:#f2f2f2;
      text-transform: uppercase;
      font-size: 2rem;
      border-radius: 10px;
      margin-right: 2rem;
   
}


.faqs{
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;

}

.footer{
    background-color: var(--primary-color);
    height:30rem;
 
}
.footer-div{
    display: flex;
    gap:5rem;
    padding: 5rem;
}

.footer-div p{
    font-size:1rem;
}

.footer-head{
    font-size: 2rem;
    color:var(--accent-color)
}

.footer-ref{
    color:var(--accent-color)
}



