@media (min-width:768px) {
    .header{
        height:50vh;
    }
    .hero-title{
    font-size: 6rem;
  }
 

@media(min-width:1200px){
    .header{
        height:70vh;
        
    }
   .text-content{
      margin-left: 24rem;
    }
      .hero-title{
    font-size: 8rem;
  }
  .hero{
    margin-bottom: 6rem;
  }
  .featured{
    margin-bottom: 10rem;
    margin-top: 5rem;
  }
  .installation-img{
    width:50% !important;
  }
  
   
}

@media(max-width:768px){
  

     
}
@media screen and (max-width: 992px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }

