/******************/
/*      Navbar    */
/******************/
.nav-active{
  border-right: 3px solid var(--accent-color);
  background-color: var(--primary-color);
}
.navigation-var{
  margin-bottom:5rem;
}
.navbar-nav{
    margin-left: 40rem;
} 

.navbar-brand{
    font-weight: bold;
     font-size:3rem; 
     color:var(--accent-color);
     text-transform: uppercase;
    }
.nav-link{
    font-size:1.5rem;
    margin-right: 2rem;
    }
.nav-item{
    margin-left:2rem;
    font-size:1.5rem ;
    text-transform: uppercase;
}
.nav-link:hover{
   color:var(--accent-color)
}

.login-btn{
   padding:.2rem 2rem;
   font-size: 1.5rem;
   text-transform:uppercase;
}

.canvas ul li{
  list-style: none;
  padding:1rem 20px;
}
.canvas ul li a{
text-decoration: none;
 color:var(--accent-color);
 font-weight:600;

}


.content-row{
  padding:0 3rem;
}

#sidebar{
    position: fixed;
    width: 20rem;
    /* overflow-y: scroll; */
    top: 8rem;
    bottom: 0;
}


#sidebar ul li{
  list-style: none;
  padding:1rem 1rem;

}
#sidebar ul li a{
text-decoration: none;
 color:var(--accent-color);
 font-weight:600;

}

.button-container a{
 
color:#fff;

}

.button-container{
  
display: flex;

align-items: center;
background-color: var(--accent-color);
padding:0 1rem;
margin:3rem;
margin-bottom: 1rem;
}
.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;

}
.hamburger{
  margin-left: 2rem;
  margin-top: 1rem;
  background-color: #5f3dc4;
}

.menu-btn_burger{
  position:relative;
  width:40px;
  height:6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  transition:all .5s ease-in-out
}
.menu-btn_burger::before,
.menu-btn_burger::after{
   content: '';
   position:absolute;
   left:0;
   width: 40px;
   height:6px;
   background: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 5px black;
   transition:all .5s ease-in-out

}

.menu-btn_burger::before{
   transform: translateX(-24px);
   transform: translateY(-16px);
 
}
.menu-btn_burger::after{
  transform: translateY(16px);
}

.search-btn{
    border-color: var(--accent-color);
}

.search-btn:hover{
    background-color: var(--accent-color);
    color:#fff;
}



.menu-item{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    

}
.menu-item a{
    margin-bottom: .5rem;
    color:#fff;
}
.menu-item:hover{
    background-color: var(--primary-color);
   
}










