
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight:400;
    color:var(--text-color);
    background-color:#fff;
}
.header{
    background-color:var(--primary-color)  ;
    width:100vw;
    height:100vh;
}
 .navbar-nav{
    margin-left: 40rem;
} 

span{
  color:var(--accent-color)
}
img{
  border-radius: 10px;
}




.navbar-brand{
    font-weight: bold;
     font-size:2rem; 
     color:var(--accent-color);
     text-transform: uppercase;
    
}
.nav-item{
    margin-left:2rem;
    font-size:2rem ;
    text-transform: uppercase;
}
.nav-link:hover{
   color:var(--accent-color)
}

.login-btn{
   padding:.2rem 2rem;
   font-size: 1.5rem;
   text-transform:uppercase;
}


.hero{
    margin-top: 2rem;
    padding:5rem;
    text-align: center;
    height: 100vh;
    width:100vw;
}
.hero-title{
    font-size: 7rem;
    text-align: center;
    font-weight: 900;
}
.info{
  margin-top: 5rem;
}

.info-heading{
   color:var(--accent-color);
   text-transform: uppercase;
   font-weight: 600;
   text-align: center;
   font-size: 3rem;
   margin-bottom: 2rem;
 
}
.info-row{
   padding:2rem 3rem;
}
.info-title{
  font-size: 3rem;
  font-weight: 900;
}

.lesson{
    margin-top: 2rem;
}
.btn{
     background-color:var(--accent-color);
     color:#f2f2f2;
      font-size: 2rem;
      border-radius: 10px;
   
}
    
.nav-link{
    margin-right: 2rem;
    
}
.active{
  border-bottom: 2px solid var(--accent-color);
}

.button-container{
    margin-top: 5rem;
}



/* learn section */
.learn{
    width:100vw;
    height:50vh;
   
}
.learn a{
    width:100%;
   }
  .learn a:hover{
    color:#7048e8;;
   }
.learn-title{
     font-size: 4rem;
     font-weight:weight(bold);
     text-align: center;
    margin-bottom: 5rem;;
 }



/* login  */
        #outerbox{
            width:70vw;
          
            margin:10rem auto;
            background-color: white;
            border-radius: 10px;;
        }
       
        #box{
            background-color:#e9ecef;
            border-radius:10px;
            margin:10rem auto;
            width:35rem;
            padding:3rem 5rem;
            padding-bottom:5rem;
            border:1px solid black;
        }
        a{
            text-decoration:none;
            color:white;
        }
        label{
            font-size: 1.5rem;
        }
      


      .signup-tab {
        margin:0;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        color:#333;
        text-align: center;
        list-style: none;
        padding-left: 0;
        
      }
      .signin,.signup{
        width: 100%;
        }
     
      
      

      /* login */
      .signin{
        background-color: #ebfbee;
        padding:1rem 0;
      }
       .signup-in{
           background-color: white;
           padding:1rem 0;
           color:#333;
           
      } 
      .signup-in a{
    
          color:#868e96;
           font-weight:900;
      }
      .signin a{
          color:#333;
           font-weight:900;
      }
      
        
 

      /* Sign up  */
      .signin-up{
        background-color: white;
         padding:1rem 0;
      }
      .signin-up a{
        color:#868e96;
        font-weight:900;
      }
      .signup-up{
        background-color: #ebfbee;
      
        padding:1rem 0;
          
      }
      .signup-up a{
    
          color:#333;
         font-weight:900;
      }
      form{
        background-color: #ebfbee;
        border:.5px  grey;
        border-radius:10px;
      }
      
    

 
      
     
       #box .nav-link{
        font-size: 3rem;
        color:#333;
     }

  /* form */
  .form-title{
    text-align: center;
    margin-bottom:1rem;
  }
  .input{
    padding-left: 40px;
    width:100%;
   font-size:2.5rem;
    margin-bottom: 2rem;
  }
  .inputWithIcon input[type=email]:focus{
    border-color: #40c057;
    box-shadow: 0 0 8px 0 dodgerblue;
  }

  .inputWithIcon {
    position:relative;
  }
  .inputWithIcon i{
    position:absolute;
    left:0;
    top:.5rem;
    padding:8px 8px;
  }

  .inputdiv{
    padding:5rem;
  }

  .btn-signup{
    width: 100%;
    background-color: #40c057;
    color: white;
    border:none;
    padding:.5rem 0;
  } */


/* lesson */
/* sidebar */

    